/*
 * Animation Utils
*/

@keyframes anim-wheel-rotate-left {
  0% {
    transform: translateX(-200%) rotate(-360deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}

@keyframes anim-wheel-rotate-right {
  0% {
    transform: translateX(200%) rotate(360deg);
  }

  100% {
    transform: translateX(0) rotate(0deg);
  }
}
