$c-light: #ffffff;
$c-dark: #5f458c;
$c-purple: #a67ee5;

$font: "Proxima Nova", "Arial", sans-serif;
$font-alt: "Radical",  "Arial", sans-serif;

$stop-scaling: 2000px;

$wide-screen: "min-aspect-ratio: 1680/650";

$wider: "min-aspect-ratio: 1441/760";
$narrower: "max-aspect-ratio: 1439/760";

$tablet: 1024px;
$mobile: 768px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$index: 1.38871;

/* Animation duration variables */

/* region social blocks */
$social-blocks-list-item-anim-duration: .3s;
$social-blocks-list-item-anim-delay: .1s;
$social-blocks-toggler-before-anim-duration: .1s;
$social-block-link-anim-duration: .4s;
/* endregion social blocks */

/* region header links */
$header-links-anim-duration: .2s;

$header-links-anim-loaded-delay: .1s;
/* endregion header links */

/* region intro */
$intro-message-anim-duration: .5s;
$intro-message-anim-delay: 1s;
/* endregion intro */

/* region history slide */
$history-slide-active-text-anim-duration: .5s;
$history-slide-next-text-anim-delay: .3s;
/* endregion history slide */

/* region form */
$form-anim-duration: .25s;
$form-field-anim-duration: .6s;
/* endregion form */

$page-loaded-default-duration: .5s;

/* region transition timing function */
$first-loaded-anim-timing-function: cubic-bezier(.18,.58,.23,.94);
/* endregion */
